# Dossiers de build
bin/
obj/
publish/
EventViewer.WinUI/bin/
EventViewer.WinUI/obj/
EventViewer.Core/bin/
EventViewer.Core/obj/

# Fichiers Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Fichiers ReSharper
_ReSharper*/
*.DotSettings.user

# Fichiers temporaires
*.tmp
*.temp
*.log

# Fichiers Windows
Thumbs.db
Desktop.ini

# WinUI generated
**/AppPackages/
**/BundleArtifacts/
**/*_wpftmp.csproj

